#pendencies{
    display: flex;
}

#pendencies main {
    flex: 1;
    margin: 40px 150px 30px 150px;
}

#pendencies main .orphanages-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

#pendencies main .orphanages-container h2{
    width: 100%;
    border: 1px solid;
}